<!DOCTYPE html>

<html>
<head>
    @{
        ExrizCorpPanel.UI.Models.Components.SiteDetail siteDetail = (ViewBag.LayoutModel as ExrizCorpPanel.UI.Models.CustomModels.LayoutModel).siteDetail;
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@siteDetail.SiteName</title>
    @Html.Partial("~/Views/LoveUs/Shared/_Header.cshtml", siteDetail)
</head>
<body>
    <div class="page-wrapper">
        <!-- Preloader -->

        @{
            ExrizCorpPanel.UI.Models.CustomModels.LayoutModel model = ViewBag.LayoutModel;

            ExrizCorpPanel.UI.Models.CustomModels.LayoutModel list = model;
            var footer = model.siteDetail;

        }
        <div class="preloader"><div class="icon"></div></div>

        @Html.Partial("~/Views/LoveUs/Shared/_Head.cshtml", list)

        <div id="search-popup" class="search-popup">
            <div class="close-search theme-btn"><span class="flaticon-cancel"></span></div>
            <div class="popup-inner">
                <div class="overlay-layer"></div>
                <div class="search-form">
                    <form method="post" action="index.html">
                        <div class="form-group">
                            <fieldset>
                                <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required>
                                <input type="submit" value="Search Now!" class="theme-btn">
                            </fieldset>
                        </div>
                    </form>

                    <br>
                    <h3>Recent Search Keywords</h3>
                    <ul class="recent-searches">
                        <li><a href="#">Finance</a></li>
                        <li><a href="#">Idea</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Growth</a></li>
                        <li><a href="#">Plan</a></li>
                    </ul>

                </div>

            </div>
        </div>

        @RenderBody()

        <!--End pagewrapper-->
        <!--Scroll to top-->
        @Html.Partial("~/Views/LoveUs/Shared/_Footer.cshtml", model)
    </div>
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up-arrow"></span></div>
    @Html.Partial("~/Views/LoveUs/Shared/_Scripts.cshtml")

    @RenderSection("Scripts", required: false)
</body>
</html>
