@model ExrizCorpPanel.Data.Models.DB.References
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "UpdateReference";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var result = TempData["result"];
}
@section extraCss{
    <link href="~/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 1434px;">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
        <h1 class="page-title">
            Exriz Kurumsal Panel

        </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    @*<i class="icon-home"></i>*@
                    <a>Banner İşlemleri</a>
                    <i class="fa fa-angle-right"></i>
                </li>

                <li>
                    @*<i class="icon-eye"></i>*@
                    <a href="@Url.Action("AddReference","ReferenceManagament")">Referans Ekle</a>
                </li>
            </ul>
            <div class="page-toolbar">

            </div>
        </div>
        <!-- END PAGE HEADER-->
        <div class="note note-info">


            @{

                if (Convert.ToInt32(result) == 1)
                {
                    <div class="note note-success">
                        <h3>İşlem Durumu</h3>
                        <p>
                            Banner kayıt işlemi başarılı
                            <a class="btn btn-small red btn-outline" href="#" target="_blank">listelemeye git</a>
                        </p>
                    </div>
                }
                else if (Convert.ToInt32(result) == -1)
                {
                    <div class="note note-danger">
                        <h3>İşlem Durumu</h3>
                        <p>
                            Banner kayıt işlemi başarısız
                            <a class="btn btn-small red btn-outline" href="#" target="_blank">hatayı bildir</a>
                        </p>
                    </div>
                }
                else
                {

                }
            }
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase">Banner Ekle</span>

                    </div>
                    @*<div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                <i class="icon-cloud-upload"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                <i class="icon-wrench"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                <i class="icon-trash"></i>
                            </a>
                        </div>*@
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form enctype="multipart/form-data" asp-controller="ReferenceManagament" method="post" asp-action="PostUpdateReference" class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group">
                                <input asp-for="Id" type="text" class="form-control" style="display:none" />
                                <label asp-for="ReferenceName" class="col-md-3 control-label">Refereans İsmi</label>
                                <div class="col-md-4">
                                    <input asp-for="ReferenceName" type="text" class="form-control" placeholder="" value="@Model.ReferenceName" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Url" class="col-md-3 control-label">Referans Url</label>
                                <div class="col-md-4">
                                    <input asp-for="Url" type="text" value="@Model.Url" />

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Resim Seçiniz</label>
                                <div class="col-md-4">
                                    <div class="row">
                                        @{
                                            var ImageId = 0;
                                            var ImageUrl = "";
                                            if (Model.ReferenceImage != null)
                                            {
                                                ImageId = Model.ReferenceImageNavigation.Id;
                                                ImageUrl = Model.ReferenceImageNavigation.ImageUrl;
                                            }
                                            else
                                            {
                                                ImageId = 0;
                                                ImageUrl = "/uploads/no-image.png";

                                            }



                                        }
                                        <div class="col-md-12" id="img-@ImageId">

                                            <div class="col-md-12">

                                                <img src="@ImageUrl" width="200" height="200" />
                                            </div>
                                            <div class="col-md-12">
                                                @if (ImageId != 0)
                                                {

                                                    <div class="input-group">
                                                        <input type="text" value="Resim İşlemleri" class="form-control" disabled />
                                                        <div class="input-group-btn">

                                                            <a class="btn" onclick="deleteImage(this)" id="@ImageId">
                                                                <i class="icon-trash"></i>
                                                            </a>

                                                            <a class="btn" id="@ImageId" onclick="openModal(this)">
                                                                <i class="icon-list"></i>
                                                            </a>
                                                        </div>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <span>Yüklenmiş bir resim mevcut değil.</span>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                    <input type="file" class="form-control" asp-for="ReferenceImage" />
                                </div>

                                <div id="imageDetail" class="modal fade" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">Resim Detayları</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-body">
                                                    <div class="col-md-12">
                                                        <div class="col-md-6">
                                                            <div>
                                                                <img id="ImageUrl" width="250" height="200" style="margin-top: 20px;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input id="ImgId" style="display:none" />
                                                            <div class="form-group">
                                                                <label>Resim Başlığı</label>
                                                                <input id="ImageTitle" class="form-control" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Resim Tagları</label>
                                                                <input type="text" class="form-control" id="ImageTag" value="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Resim Alt Tagı</label>
                                                                <input id="altTag" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                                                <button type="button" class="btn btn-primary" onclick="imageUpdate()">Değişiklikleri Kaydet</button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-4">
                                    <button type="submit" class="btn green">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>


        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
@section extraScript{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.js"></script>
    <script src="~/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js" type="text/javascript"></script>


    <script src="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {

            $('#rootwizard').bootstrapWizard({ 'nextSelector': '.button-next', 'previousSelector': '.button-previous' });
        });

        $(document).ready(function () {
            $("#upload").click(function (evt) {
                var fileUpload = $("#files").get(0);
                var files = fileUpload.files;
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append(files[i].name, files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: "/Admin/GalleryManagament/PostUploadFilesAjax?id=" + document.getElementById("GalleryId").value,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (message) {
                        alert(message);
                    },
                    error: function () {
                        alert("There was error uploading files!");
                    }
                });
            });
        });
        function imageUpdate() {
            var obj = {};
            obj.Id = $('#ImgId').val();
            obj.ImageUrl = $('#ImageUrl').val();
            obj.ImageTitle = $('#ImageTitle').val();
            obj.ImageTag = $('#ImageTag').val();
            obj.ImageAltTag = $('#altTag').val();

            $.ajax({
                url: '/Admin/GalleryManagament/updateImageDetail',
                data: JSON.stringify(obj),
                error: function () {
                    $('#info').html('<p>An error has occurred</p>');
                },
                dataType: 'json',
                contentType: "application/json;utf-8",
                success: function (data) {
                    console.log(data);
                },
                type: 'POST'
            });

        }
        function openModal(element) {
            var Id = $(element).prop("id");
            $.ajax({
                url: '/Admin/GalleryManagament/GetImageDetail?id=' + Id,
                data: null,
                error: function () {
                    $('#info').html('<p>An error has occurred</p>');
                },
                dataType: 'json',
                contentType: "application/json;utf-8",
                success: function (data) {
                    $('#ImgId').val(data.id);
                    $('#ImageTitle').val(data.imageTitle);
                    $('#ImageUrl').attr('src', data.imageUrl);
                    $("#ImageTag").attr('value', data.imageTag);
                    $('#ImageTag').val(data.imageTag);
                    $('#altTag').val(data.imageAltTag);
                    $('#imageDetail').modal('show');
                    console.log(data);
                },
                type: 'POST'
            });
        }

        function deleteImage(element) {
            var Id = element.id;
            $.ajax({
                url: 'deleteImageFromReference?id=' + Id,
                data: null,
                error: function () {
                    $('#info').html('<p>An error has occurred</p>');
                },
                dataType: 'json',
                contentType: "application/json;utf-8",
                success: function (data) {
                    var elementId = "#img-" + Id;
                    $(elementId).remove();
                },
                type: 'POST'
            });
            console.log(Id);


        
        }
        //function upload() {
        //    var myfile = document.getElementById("files");
        //    var formData = new FormData();

        //    if (myfile.files.length > 0) {
        //        for (var i = 0; i < myfile.files.length; i++) {
        //            formData.append('file-' + i, myfile.files[i]);
        //        }
        //    }

        //    $.ajax({
        //        url: "/GalleryManagament/UploadFile/",
        //        type: "POST",
        //        contentType: "multipart/form-data",
        //        data: formData,
        //        processData: false,
        //        success: function (data) {

        //        },
        //        error: function (data) {

        //        }
        //    })
        //}
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#profile-img-tag').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#profile-img").change(function () {
            readURL(this);
        });

        //var src = document.getElementById("src");
        //var target = document.getElementById("target");
        //showImage(src, target);
        //function addGallery() {
        //    var gallery = {};
        //    gallery.GaleryName = $('#GaleryName').val();
        //    gallery.GaleryLink = $('#GaleryLink').val();
        //    $.ajax({
        //        url: '/GalleryManagament/PostUpdateGallery',
        //        data: JSON.stringify(gallery),
        //        error: function () {
        //            $('#info').html('<p>An error has occurred</p>');
        //        },
        //        dataType: 'json',
        //        contentType: "application/json;utf-8",
        //        success: function (data) {
        //            console.log(data);
        //            $('#Id').val(data);
        //            $('#GalleryId').val(data);
        //            document.getElementById("nextbtn").disabled = false;
        //            var element = document.getElementById("nextLink");
        //            element.classList.remove("inactiveLink");
        //        },
        //        type: 'POST'
        //    });

        //}
        function take() {
            var items = $('input[id^="desc"]');
            var desclist = [];
            for (var i = 0; i < items.length; i++) {
                desclist.push({ LangId: items[i].id.split("-")[1], Name: items[i].value, GalleryId: $('#Id').val() });

            }
            console.log(desclist);
            var items = $('input[id^="name"]');
            var namelist = [];
            for (var i = 0; i < items.length; i++) {
                namelist.push({ LangId: items[i].id.split("-")[1], Name: items[i].value, GalleryId: $('#Id').val() });

            }

            var list = [];
            for (var i = 0; i < desclist.length; i++) {
                console.log("l:" + desclist[i].LangId);
                list.push({ GalleryTitle: namelist[i].Name, GalleryContent: desclist[i].Name, Langıd: desclist[i].LangId, GalleryId: desclist[i].GalleryId });
            }
            console.log(JSON.stringify(list));
            $.ajax({
                url: '/Admin/GalleryManagament/postupdateGalleryMapping',
                data: JSON.stringify(list),
                error: function () {
                    $('#info').html('<p>An error has occurred</p>');
                },
                dataType: 'json',
                contentType: "application/json;utf-8",
                success: function (data) {
                    console.log(data);

                },
                type: 'POST'
            });
            console.log(list);

        };
    </script>
}