@model ExrizCorpPanel.UI.Models.CustomModels.PageModel
@{
    Layout = (ViewBag.LayoutModel as ExrizCorpPanel.UI.Models.CustomModels.LayoutModel).siteDetail.LayoutName;
}

<!-- Page Banner Section -->
<section class="page-banner">
    @{ 
        var imgUrl = Model.ImageUrl;
    }
    <div class="image-layer lazy-image" data-bg="url('@Model.ImageUrl')" style="background-image: url('@Model.ImageUrl')"></div>
    <div class="bottom-rotten-curve alternate"></div>

    <div class="auto-container">
        <h1>@Model.Title</h1>
        <ul class="bread-crumb clearfix">
            <li><a href="index.html">Ana Sayfa</a></li>
            <li class="active">@Model.Title</li>
        </ul>
    </div>

</section>
<!--End Banner Section -->
<!--About Section-->
<section class="about-section style-two alternate">
    <div class="circle-one"></div>
    <div class="circle-two"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!--Left Column-->
            <div class="left-column col-lg-12 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title">
                        <h2>@Model.Title</h2>
                        <div class="sub-title">@Model.SubTitle</div>

                        <div class="text">@Html.Raw(Model.Content)</div>

                    </div>
                </div>
            </div>
            <!--Right Column-->
           
        </div>

    </div>

</section>