@model ExrizCorpPanel.UI.Models.CustomModels.BlogModel

@{
    Layout = (ViewBag.LayoutModel as ExrizCorpPanel.UI.Models.CustomModels.LayoutModel).siteDetail.LayoutName;
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Page Banner Section -->
<section class="page-banner">
    <div class="image-layer lazy-image" data-bg="url('assets/LoveUs/images/background/bg-banner-1.jpg')"></div>
    <div class="bottom-rotten-curve"></div>

    <div class="auto-container">
        <h1>Blog Sayfaları</h1>
        <ul class="bread-crumb clearfix">
            <li><a href="index.html">Anasayfa</a></li>
            <li class="active">Blog Sayfaları</li>
        </ul>
    </div>

</section>
<!--End Banner Section -->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side / Blog Sidebar-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <!--Blog Posts-->
                <div class="blog-posts">
                    <div class="row clearfix">
                        @foreach (var item in Model.blogPost)
                        {
                            <div class="news-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="@item.Url"><img class="lazy-image" src="@item.ImageUrl" data-src="@item.ImageUrl" alt=""></a></figure>
                                    </div>
                                    <div class="lower-content">
                                        @if (item.Date != null)
                                        {
                                            <div class="date">@item.Date.Value.Day<span class="month">@item.Date.Value.Month @item.Date.Value.Year</span></div>
                                        }

                                        <h3><a href="@item.Url">@item.Title</a></h3>
                                        <div class="text">@item.SubTitle</div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>

            </div>

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar">

                 
                    <!-- Category Widget -->
                    <div class="sidebar-widget categories">
                        <h3 class="sidebar-title">Kategoriler</h3>
                        <div class="text">Blog Kategorilerimiz.</div>
                        <div class="widget-content">
                            <ul>
                                @foreach (var item in Model.blogCategories)
                                {
                                    <li><a>@item.FriendlyName</a></li>
                                }

                            </ul>
                        </div>
                    </div>

                    <!-- Post Widget -->
                    <div class="sidebar-widget popular-posts">
                        <h3 class="sidebar-title">Son Bloglar</h3>
                        <div class="widget-content">
                            @foreach (var item in Model.recentPosts)
                            {
                                <div class="news-post">
                                    <div class="post-thumb"><a href="@item.Url"><img class="lazy-image" src="@item.ImageUrl" data-src="@item.ImageUrl" alt=""></a></div>
                                    <div class="date">
                                        <span class="fa fa-calendar-alt"></span>
                                        @if (item.Date == null)
                                        {
                                            <label>tarih girilmemiş</label>
                                        }
                                        else
                                        {
                                            @item.Date
                                        }

                                    </div>
                                    <h4><a href="blog-single.html">@item.Title </a></h4>
                                </div>
                            }
                        </div>
                    </div>

                  

                </aside>
            </div>
        </div>
    </div>
</div>
