
@model ExrizCorpPanel.UI.Models.CustomModels.BlogModel
@{
    Layout = (ViewBag.LayoutModel as ExrizCorpPanel.UI.Models.CustomModels.LayoutModel).siteDetail.LayoutName;
    var id = 0;

}
<section class="catalogue-wrapper">
    <!-- Page title -->
    <div class="page-title">
        <h1>Blog</h1>

        <!-- BREADCRUMBS -->
        <ul class="breadcrumb">
            <li><a href="index-2.html">Ana Sayfa</a><span class="divider"></span></li>
            <li class="active">Blog</li>
        </ul>
    </div>
    <!-- //Page title -->


    <div class="row">
        <div class="col-md-9">
            <article class="blog-post-wrapper">

                <div class="col-md-12">
                    <img src="@Model.ImageUrl" style="width:100px;" />
                </div>

                <header class="entry-header mt-30 clearfix">
                    <div class="posted-date">
                        <span class="day">@Model.Date.Day</span>
                        <span class="month" id="month" >@Model.Date.Month . @Model.Date.Year</span>
                    </div>

                    <h2 class="entry-title">@Model.Title</h2>

                    <div class="entry-meta entry-meta-float">
                        <div class="post-info">
                            <span class="posted-in"><i class="fa fa-tag"></i> In <a href="#">@Model.CategoryName</a></span>
                            @*<span class="post-comments-number"><i class="fa fa-comments"></i> <a href="#"> 14 Comments</a></span>*@
                        </div>
                    </div>
                </header>
                <!-- .entry-header -->


                <div class="entry-content">
                    
                       @Model.Content
                   
                </div>
                <!-- .entry-content -->


                <footer class="entry-meta clearfix">
                    <div class="tag-links">
                        @Model.resources.FirstOrDefault(x=>x.ResourceName== "label.search").variables.ResourceContent: <span>@Model.Tags</span>
                    </div>
                </footer>

            </article>
            <!-- .blog-post-wrapper -->
            @*<div class="row mt-30">
                    <div class="col-md-12">
                        <div class="about-author clearfix">
                            <div class="media">
                                <a class="pull-left" href="#"><img alt="Image" src="img/team1.jpg"></a>

                                <div class="media-body">
                                    <div class="author-info media-heading">
                                        <h3>About John Doe</h3>

                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam
                                            lacus. Fusce condimentum eleifend enim a feugiat.Sed et quam lacus. Fusce condimentum
                                            eleifend enim a feugiat.Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="next-previous-post clearfix mt-30">
                            <!-- Previous Post -->
                            <div class="previous-post pull-left">
                                <a href="#"><i class="fa fa-angle-left"></i></a>
                            </div>

                            <!-- Next Post -->
                            <div class="next-post pull-right">
                                <a href="#"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>

                        <div class="comments-area">
                            <div class="comments-title">
                                <h3>Comments</h3>

                                <p>There are 9 comments in this project</p>
                            </div>

                            <ul class="comment-list">
                                <li class="comment">
                                    <div class="comment media">
                                        <div class="comment-author clearfix">
                                            <img alt="demo" class="avatar" src="img/team3.jpg">

                                            <div class="comment-meta media-heading">
                                                <h4>
                                                    <span class="author-name">By Jayden Willis</span>
                                                    <time datetime="2014-05-22"> May 22, 2014 3:19 pm</time>
                                                </h4>

                                                <span class="reply pull-right"><a class="comment-reply-link" href="#">Reply</a></span>
                                                <!-- .reply -->
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="comment-content">
                                                <p>Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.Sed et quam lacus.</p>
                                            </div>
                                            <!-- .comment-content -->
                                        </div>

                                    </div>
                                    <!-- #comment-## -->
                                </li>
                                <!-- #comment-## -->

                                <li class="comment-replay">
                                    <div class="comment media">
                                        <div class="comment-author clearfix">
                                            <img alt="demo" class="avatar" src="img/team1.jpg">

                                            <div class="comment-meta media-heading">
                                                <h4>
                                                    <span class="author-name">By John Doe</span>
                                                    <time datetime="2014-05-22"> May 22, 2014 3:19 pm</time>
                                                </h4>

                                                <span class="reply pull-right"><a class="comment-reply-link" href="#">Reply</a></span>
                                                <!-- .reply -->
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="comment-content">
                                                <p>Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.Sed et quam lacus.</p>
                                            </div>
                                            <!-- .comment-content -->
                                        </div>

                                    </div>
                                    <!-- #comment-## -->
                                </li>
                                <!-- #comment-## -->

                                <li class="comment-replay">
                                    <div class="comment media">
                                        <div class="comment-author clearfix">
                                            <img alt="demo" class="avatar" src="img/team4.jpg">

                                            <div class="comment-meta media-heading">
                                                <h4>
                                                    <span class="author-name">By Mark Johnson</span>
                                                    <time datetime="2014-05-22"> May 22, 2014 3:19 pm</time>
                                                </h4>

                                                <span class="reply pull-right"><a class="comment-reply-link" href="#">Reply</a></span>
                                                <!-- .reply -->
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="comment-content">
                                                <p>Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.Sed et quam lacus.</p>
                                            </div>
                                            <!-- .comment-content -->
                                        </div>

                                    </div>
                                    <!-- #comment-## -->
                                </li>
                                <!-- #comment-## -->

                                <li class="comment">
                                    <div class="comment media">
                                        <div class="comment-author clearfix">
                                            <img alt="demo" class="avatar" src="img/team2.jpg">

                                            <div class="comment-meta media-heading">
                                                <h4>
                                                    <span class="author-name">By Courtney Torres</span>
                                                    <time datetime="2014-05-22"> May 22, 2014 3:19 pm</time>
                                                </h4>

                                                <span class="reply pull-right"><a class="comment-reply-link" href="#">Reply</a></span>
                                                <!-- .reply -->
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="comment-content">
                                                <p>Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.Sed et quam lacus.</p>
                                            </div>
                                            <!-- .comment-content -->
                                        </div>

                                    </div>
                                    <!-- #comment-## -->
                                </li>
                                <!-- #comment-## -->
                            </ul>
                            <!-- .comment-list -->

                            <div class="comment-respond" id="respond">
                                <h3 class="comment-reply-title">Leave a Reply</h3>

                                <form action="https://demo.themehippo.com/html/decor/ltl/comment" class="form-horizontal comment-form" id="commentform" method="post" name="commentform">
                                    <div class="alert alert-info comment-notes">
                                        Your email address will not be published.
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12 comment-form-author">
                                            <input class="form-control" id="author" name="author" placeholder="Name" type="text" value="">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12 comment-form-email">
                                            <input class="form-control" name="email" placeholder="Email" type="email" value="">
                                        </div>
                                    </div>

                                    <div class="form-group comment-form-comment">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" id="comment" name="comment" placeholder="Comment" rows="8"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-submit">
                                        <span class="mt-30"><button type="submit" class="btn btn-primary mb-30"> Submit Comment</button></span>
                                    </div>
                                </form>
                            </div>
                            <!-- #respond -->
                        </div>

                    </div>
                </div>*@

        </div>


        <div class="col-md-3 clearfix">
            <aside role="complementary" class="sidebar">

                <div class="widget_search">
                    <form action="#">
                        <input type="text" name="search" id="search" value="Search here" onblur="if(this.value == '') { this.value='Search here'}" onfocus="if (this.value == 'Search here') {this.value=''}">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="widget_recent_entries">
                    <!-- title -->
                    <div class="lead-title">
                        <h2>  @Model.resources.FirstOrDefault(x => x.ResourceName == "label.recentBlogPosts").variables.ResourceContent</h2>
                    </div>
                    <!-- //title -->


                    @foreach (var item in Model.recentPosts)
                    {
                        <p>
                            <a href="Blog/@item.Slug">@item.Title</a> <br>
                            May 23, 2014
                        </p>

                    }
                </div>


                <div class="widget_categories">

                    <!-- title -->
                    <div class="lead-title">
                        <h2>@Model.resources.FirstOrDefault(x => x.ResourceName == "label.categories").variables.ResourceContent</h2>
                    </div>
                    <!-- //title -->

                    <ul>
                        <li><a href="#">Home Decoration (3)</a></li>
                        <li><a href="#">Office Decoration (5)</a></li>
                        <li><a href="#">Bedroom Decoration (4)</a></li>
                        <li><a href="#">Bathroom Decoration (2)</a></li>
                    </ul>
                </div>



            </aside>
        </div>

    </div>
    <!-- End row -->

</section>

@*@section Scripts
{
<script>
    $().ready(function(){
        var textOfMonth = "";
        var month = $("#month").text();
        switch (month) {

            case 1:
                textOfMonth = "";
                break;

            default:
        }
        alert(month);
    })
</script>
}*@